body {
    background-color: #fefefe;
    font-family: 'Segoe UI', sans-serif;
    color: #222;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    color: #002244;
}

.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

input, select, button {
    font-size: 1em;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button-principal {
    background-color: #002244;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.button-principal:hover {
    background-color: #004080;
}
